<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bucket List</h4>
                    <p class="card-text">A simple way to track life goals. Allows for pictures and sub goals to be
                        attached to main goals.</p>
                    <a routerLink="bucketList">More Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Exercise Tracker</h4>
                    <p class="card-text">Keep track of progress during your workout journey. Can graph progress for any
                        user-defined workout.</p>
                    <a routerLink="exerciseTracker">More Details</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Goal Tracker</h4>
                    <p class="card-text">Tracks short-term goals, with support for marking goals for the day, month, or
                        year. Will email a summary of your goal outlook and what you have planned.</p>
                    <a routerLink="goalTracker">More Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Shared Calendar</h4>
                    <p class="card-text">Track event with another user on the server. Any user can add, edit, or remove
                        events.</p>
                    <a routerLink="sharedCalendar">More Details</a>
                </div>
            </div>
        </div>
    </div>
</div>