.spacer {
    flex: 1 1 auto;
}

.mat-icon {
    height: 24px;
    width: auto;
    font-size: 24px;
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  /* .container {
    background-color: #F6f4E8;
  } */

  .scrollbar-fix {
    scrollbar-gutter: stable both-edges;
  }