<div class="p-5 text-center bg-light">
    <h1 class="mb-3">About Me</h1>
    <p class="fs-5 text-muted">I'm a full-stack software developer with {{ yearsOfExperience }} years of experience in
        various object-oriented languages, both front-end and back-end related.</p>
    <p class="fs-5 text-muted">My strongest skills in C# (ASP.NET
        Core), Typescript (Angular), SQL, and HTML/CSS. I'm always looking for opportunities to both strengthen and
        expand my skillset.</p>
</div>
<div *ngIf="false" class="p-5 bg-light mt-3">
    <div class='text-center'>
        <h1 class="mx-auto">Contact Me</h1>
    </div>
    <app-contact-form></app-contact-form>
</div>